<html>
<head lang="eng">
    <meta charset="UTF-8">
        {{>head}}
    <title>Express tutorial</title>
</head>
<body>
{{>bsnavbar}}

<div class="container">
{{{body}}}
</div>

  <script src="js.js"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</body>
</html>